@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200;400&display=swap');


body {
    font-family: 'Yaldevi', sans-serif;
}

.center {
    text-align: center;
}

.image {
    padding: 2rem;
}